/* Уменьшаем крест на мобильных устройствах */
@media (max-width: 600px) {
    .cross {
        transform: scale(0.75); /* 15% меньше */
        transform-origin: top center;
        margin-top: 20px;      /* немного опустить */
    }

    .site-title {
        font-size: 16px;
    }

    .site-subtitle {
        margin-top: 220px !important;  /* было 400px → теперь адаптировано */
        font-size: 20px;
    }
}

body {
  margin: 0;
  background-color: #1d1e22; /*  #1d1e22; */
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.center-box {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center; 
  padding-top: 5vh;   
}

.site-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;   
}

.site-subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 400px; 
}

.cross {
  position: relative;
  width: 220px;  
  height: 260px; 
}

.arm {
  position: absolute;
}

.arm.vertical {
  width: 85px;
  height: 610px;

  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
}

.arm.horizontal {
  width: 394px;
  height: 86px;

  top: 100px;  
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
}

.arm.inner {
  background: #292a2e;   /*  #292a2e; */ 
  z-index: 5;
}

.arm.vertical.inner {
  width: 78px;  
  height: 605px; 
  left: 50%;
  transform: translateX(-50%);
  top: 5px;  
  border-radius: 14px;
}

.arm.horizontal.inner {
  width: 390px;  
  height: 78px;  
  top: 105px;   
  left: 50%;
  transform: translateX(-50%);
  border-radius: 14px;
}

.arm.glow {
  z-index: 0;
}

.animated-border-box,
.animated-border-box-glow {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}

.animated-border-box-glow {
  filter: blur(20px);
}

.animated-border-box::before,
.animated-border-box-glow::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9999px;
  height: 9999px;
  transform: translate(-50%, -50%) rotate(0deg);
  background-repeat: no-repeat;
  background-position: 0 0;

  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #1976ed,
    rgba(0, 0, 0, 0) 25%
  );

  animation: rotate 4s linear infinite;
}

.animated-border-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #292a2e; /* #292a2e; */
  border-radius: calc(18px - 3px);
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
